@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Inter:wght@400;500;600;700;800&display=swap");

/* VARIABLE */
:root {
  --color-primary: #ff9f66;
  --color-background: #f5f6f9;
  --color-text-dark: #1c0a0a;
  --color-white: #fff;
  --color-black: #000;
  --container-width: 117rem;
}

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* 10px / 16px */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #584f49;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

section:not(:last-child) {
  margin-bottom: 15rem !important;
}

/* COMMON USE */
.container {
  max-width: 117rem;
  margin: 0 auto;
}

.heading-primary {
  color: var(--color-text-dark);
  font-size: 7rem;
  font-weight: 800;
  line-height: calc(80 / 70);
  margin-bottom: 2.2rem;

  animation: moveInLeft 2s ease-in;
}

.heading-secondary-box {
  text-align: center;
  width: 47.9rem;
  margin: auto;
  margin-bottom: 7rem;
}

.heading-secondary {
  color: var(--color-text-dark);
  font-size: 5rem;
  font-weight: 700;
  line-height: calc(60 / 50);
}

.subheading-secondary {
  font-size: 1.6rem;
  line-height: calc(26 / 16);
  margin-top: 1.8rem;
}

.btn {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: calc(28 / 18);
  border-radius: 0.6rem;

  /* Style for button */
  border: none;
  cursor: pointer;
}

.btn--full {
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 1.5rem 4rem;

  transition: 0.2s ease-in;
}

.btn--full:hover {
  background-color: #e68f5c;
}

.btn--outline {
  color: var(--color-text-dark);
  background-color: transparent;
  border: 1px solid #b0b4c0;
  padding: 1.5rem 2.2rem;
}

.btn--small {
  font-size: 1.6rem;
  line-height: calc(26 / 16);
  padding: 1.1rem 2.5rem;
}

/* Card components */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.3rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);

  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

.card--recommended .card-header {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.card--recommended .card-recommended {
  visibility: visible;
}

.card--recommended .card-btn {
  background-color: var(--color-primary);
}

.card--recommended .card-btn-booknow {
  color: var(--color-white);
}

.card--recommended .card-btn-arrow {
  background-color: #ffb081;
}

.card-header {
  text-align: center;
  border-bottom: 1px solid #f4f5f7;
  padding: 3.5rem 0;
  color: var(--color-text-dark);
}

.card-recommended {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: calc(24 / 14);
  margin-bottom: 1.2rem;

  visibility: hidden;
}

.card-name {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: calc(34 / 24);
  margin-bottom: 1rem;
}

.card-pricing {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: calc(44 / 34);
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

.card-title {
  font-size: 1.4rem;
  line-height: calc(24 / 14);
  text-align: center;
  margin: 1.6rem 0 2.6rem 0;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 4.1rem;
}

.card-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  height: 6.2rem;
  border: 1px solid #f4f5f7;
  border-radius: 0.6rem;
  padding-left: 1.6rem;
}

.card-item-icon {
  color: #258675;
  font-size: 1.5rem;
  background-color: #d4eee9;
  padding: 0.5rem;
  border-radius: 50%;
}

.card-item-text {
  font-size: 1.6rem;
  line-height: calc(26 / 16);
}

.card-btn {
  text-align: center;
  border: 1px solid var(--color-primary);
  margin: auto 3.1rem 3rem 3.1rem;
  position: relative;
}

.card-btn-booknow {
  display: block;
  color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: calc(26 / 16);
  padding: 1.2rem 0;
}

.card-btn-arrow {
  display: flex;
  align-items: center;

  font-size: 1.6rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 0 1.8rem;
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;
}

/* Form components */
.form-input,
.form-textarea {
  display: block;
  width: 100%;
  padding: 1.7rem 0 1.7rem 2.5rem;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  font-size: 1.6rem;
  line-height: calc(26 / 16);
}

.form-input {
  margin-bottom: 2rem;
}

.form-textarea {
  font-family: inherit;
  margin-bottom: 2.2rem;
  resize: none;
  height: 16.5rem;
}

.form-policy {
  margin-bottom: 2.7rem;
}

.form-policy {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.form-checkbox {
  height: 2.2rem;
  width: 2.2rem;
  cursor: pointer;
}

.form-policy-text {
  font-size: 1.6rem;
  line-height: calc(26 / 16);
}

.form-policy-link {
  color: var(--color-primary);
}

.form button {
  font-size: 1.4rem;
  line-height: calc(26 / 14);
  padding: 1.6rem 2.6rem;
}
